*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(246, 245, 245);
}
#my_popover{
    color: white;
}
.head{
    height: 100vh;
    width: 100%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.167),rgba(0, 0, 0, 0.847)), url(/img/edit\ UCF.png) center center fixed;
    background-size: cover;
}

.logo_parent{
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    margin-left: 50px;
}
img{
    width: 80px;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    background: black;
    height: fit-content;
    padding: 30px 0;
}
a{
    text-decoration: none;
    color: white;
    gap: 10px;
}
.mn{
    padding: 5px 40px;
    border-left: 2px solid rgba(255, 255, 255, 0.36);
}
.reach{
    padding: 0 30px;
}
ion-icon{
    vertical-align: middle;
    font-size: 1.5em;
}
.ins{
    vertical-align: middle;
    font-size: 1.2em;
    color: yellow;
}
.preps {
    margin: 0 400px;
    text-align: center;
    color: rgba(255, 255, 255, 0.747);
}
p{
    font-size: 1.5em;
    margin-top: 10px;
}
.slogan{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgba(255, 255, 255, 0.96);
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
}
.visit{
    background: none;
    border: none;
    transition: 0.5s;
    border: 2px solid  rgb(60, 179, 60);
    
}
.visit:hover{
    background: rgb(60, 179, 60);
    color: white;
    box-shadow: 0 0 20px 2px rgb(60, 179, 60);
}
button{
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 20px 10px;
}
.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.decouvrir{
    color: rgba(0, 0, 0, 0.61);
    margin: 20px 5px;
}
.icodec {
    color: rgb(60, 179, 60);
    margin: 20px 5px;

}
.cont{
    text-align: center;
}
.ppre{
    text-align: center;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.711);
}
.historique{
    padding: 100px;
    padding-bottom: 0;
}
.creat{
    padding: 0 0 30px;
    color: black;
    border-bottom: 7px solid black;
}
.hist1{
    display: flex;
    align-items: center;
    margin: 100px 0 150px;
}
.img1{
    width: 600px;
    max-width: 600px;
    margin-right: 50px;
    /* opacity: 0; */
    transition: 0.5s;
}
.img1:hover{
    transform: scale(1.05);
}
.img2{
    width: 600px;
    margin-left: 50px;
    transition: 0.5s;
}
.img2:hover{
    transform: scale(1.05);
}
.title1{
    font-size: 2em;
    color: black;
    margin-bottom: 30px;
}
.p1{
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.375);
    font-size: 1.2em;
}
.lien1{
    color: rgba(0, 0, 0, 0.655);
    font-size: 1.2em;
}

.icon1{
    font-size: 2em;
    vertical-align: middle;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.347);
    transition: 0.5s;
}
.icon1:hover{
    color: black;
}

.formation{
    padding: 0 100px;
    height: 100vh;
}
.format{
    color: rgba(0, 0, 0, 0.362);
    font-size: 1.2em;
}
.fil{
    margin-top: 50px;
}
.form1{
    padding: 0 0 10px;
    color: black;
}
.cont1{
    height: 400px;
    width: 40%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.118);
    padding: 20px;
    margin: 10px;
    background:linear-gradient(to bottom, transparent,rgb(0, 0, 0)), url(/img/bg\ 3.jpg);
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.cont1:hover{
    transform: scale(1.05);
}
.cont2{
    background:linear-gradient(to bottom, transparent,rgb(0, 0, 0)), url(/img/bg\ 5.jpg)center center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.cont2:hover{
    transform: scale(1.05);
}
.cont3{
    background:linear-gradient(to bottom, transparent,rgb(0, 0, 0)), url(/img/bg\ 2.jpg)center center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.cont3:hover{
    transform: scale(1.05);
}
.cont4{
    background:linear-gradient(to bottom, transparent,rgb(0, 0, 0)), url(/img/bg\ 4.jpg)center center;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.cont4:hover{
    transform: scale(1.05);
}
.informatxt{
    font-size: 1.9em;
    margin-top: 120%;
    margin-bottom: 10px;
}
/* .txtinfo{
    color: rgba(255, 255, 255, 0.699);
    margin-bottom: 30px;
} */
.lien2{
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.758);
}
.fil{
    display: flex;
}
.information{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    padding-top: 0;
}
.BS{
    color: rgb(60, 179, 60);
}
.infotxt{
    width: 90%;
    border-bottom: 5px solid black;
    padding: 50px;
}
.uni{
    color: rgba(0, 0, 0, 0.401);
    font-size: 1.4em;
    margin-top: 20px;
}
.aventage{
    max-width: 100%;
    margin: 20px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.qlt{
    text-align: center;
    padding: 40px 25px;
    border-radius: 2rem;
    transition: 0.5s;
    margin: 10px;
}
.qlt:hover{
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.186);
    transform: scale(1.05);
}
h2{
    color: rgb(60, 179, 60);
    font-size: 1.5em;
}
.pqlt{
    color: rgba(0, 0, 0, 0.274);
    font-size: 1em;
}
.iconwhy{
    margin-bottom: 10px;
    font-size: 2.5em;
    color: rgb(60, 179, 60);
}
.temoin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px;
}
.temointext{
    margin-left: 50px;
}
.prRecteur{
    width: 30%;
}
.recteur{
    color: rgba(0, 0, 0, 0.607);
    font-size: 2em;
    margin-bottom: 0;
}
.nom{
    color: black;
}
.txtemoin{
    color: rgba(0, 0, 0, 0.407);
}
.ap{
    font-size: 5em;
    color: rgb(60, 179, 60);
}
footer{
    height: 20%;
    background: black;
    padding: 100px;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  /* .hero {
    font-size: 18px;
    height: 200px;
  }
  .box {
    flex: 1 1 100%;
  } */
}